<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Domain.Properties.Settings.CardBinderConnectionString"
            connectionString="Data Source=STEFFEN-PC\SQLEXPRESS;Initial Catalog=CardBinder;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>