<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <connectionStrings>
        <clear />
        <add name="ConnectionString4NoUserIDNoPassword" connectionString="Server=tcp:adventuretest.database.windows.net,1433;Database=Cardbinder;&#xD;&#xA;      User ID=AdventureAdmin@adventuretest;Password=Rasmussen1;Encrypt=True;&#xD;&#xA;      TrustServerCertificate=False;Connection Timeout=30;" />
        <add name="Persistens.Properties.Settings.CardBinderConnectionString"
            connectionString="Data Source=DESKTOP-65Q4BFL\SQLEXPRESS;Initial Catalog=CardBinder;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>